<%= error_messages_for 'disc' %>

<!--[form:disc]-->
<p><label for="disc_disc_no">Disc no</label><br/>
<%= text_field 'disc', 'disc_no'  %></p>

<p><label for="disc_description">Description</label><br/>
<%= text_area 'disc', 'description'  %></p>
<!--[eoform:disc]-->

