<p><b>Package:</b> <%= h @disc.package.title %></p>
<% for column in Disc.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @disc.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @disc %> |
<%= link_to 'Back', :action => 'list' %>
