<h1>Editing online_video</h1>

<% form_tag :action => 'update', :id => @online_video do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @online_video %> |
<%= link_to 'Back', :action => 'list' %>
